.form{
    color: rgb(255, 0, 0);
    border: 10px;
    border-style:double;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    width: fit-content;
    margin-left: 550px;
    margin-top: 80px;
    line-height: 50px;
    font-size: larger;
    font-family: cursive;
}

button:hover {
    color: red;
}